@model BNP.CMM.API.Models.CmmViewModel
@{
    ViewData["Title"] = "BNP CMM";
}
@if (TempData["Alerta"] != null)
{
    <script type="text/javascript">
        alert("@TempData["Alerta"]");
    </script>
}
@if (TempData["Erro"] != null)
{
    <p class="text-warning">@TempData["Erro"]</p>
}
<div>
    <form id="cmmform" asp-action="Incluir" asp-controller="Home" method="post">
        <table aria-hidden="true">
            <tr>
                <td><label for="mes">Mês:</label></td>
                <td>
                    <input asp-for="NewManualMovement.Month" required disabled />
                </td>

                <td><label for="ano">Ano:</label></td>
                <td>
                    <input asp-for="NewManualMovement.Year" required disabled />
                </td>
            </tr>
            <tr>
                <td><label for="NewManualMovement.ProductId">Produto:</label></td>
                <td>
                    <select id="productSelected" asp-for="NewManualMovement.ProductId" class="form-control"
                            asp-items="@(new SelectList(Model.Products, "ProductId", "Description"))" required disabled>
                        <option value="">-- Selecione o Produto --</option>
                    </select>
                </td>
                <td><label for="NewManualMovement.CosifId">Cosif:</label></td>
                <td>
                    <select id="cosifSelect" asp-for="NewManualMovement.CosifId" class="form-control" required disabled>
                        <option value="">-- Selecione o Cosif --</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="valor">Valor:</label></td>
                <td>
                    <input id="NewManualMovementAmount" asp-for="NewManualMovement.Amount" step="0.01" min="0.01" max="999999999999999999.99" required disabled />
                </td>
            </tr>
            <tr>
                <td><label for="descricao">Descrição:</label></td>
                <td colspan="3">
                    <textarea id="descrptionId" asp-for="NewManualMovement.Description" maxlength="50" required disabled></textarea>
                    <span id="contador">0/50</span>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="buttons">
                    <button id="resetBtn" type="reset" disabled>Limpar</button>
                    <button id="enableFormBtn" type="button">Novo</button>
                    <button id="submitBtn" type="submit" disabled>Incluir</button>
                </td>
            </tr>
        </table>
    </form>
    <br><br><br>
    <table id="manualMovementsTable" class="table table-bordered">
        <thead>
            <tr>
                <th>Mês</th>
                <th>Ano</th>
                <th>Código do Produto</th>
                <th>Descrição do Produto</th>
                <th>NR Lançamento</th>
                <th>Descrição</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movement in Model.ManualMovements)
            {
                <tr>
                    <td>@movement.Month</td>
                    <td>@movement.Year</td>
                    <td>@movement.ProductId</td>
                    <td>@movement.ProductDescription</td>
                    <td>@movement.EntryNumber</td>
                    <td>@movement.Description</td>
                    <td>@movement.Amount</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    const cosifData = @Html.Raw(Json.Serialize(Model.Cosifs));

    $('#productSelected').on('change', function () {
            const valorSelecionado = $(this).val();
            const $cosifSelect = $('#cosifSelect');

            $cosifSelect.html('<option value="">-- Selecione o Cosif --</option>');
            const cosifFiltrados = cosifData.filter(c => c.productId === valorSelecionado);

        $.each(cosifFiltrados, function (index, c) {
            $cosifSelect.append($('<option>', {
                value: c.cosifId,
                text: c.cosifId
            }));
        });
    });

    $(document).ready(function () {
        $('#manualMovementsTable').DataTable({
            language: {
                url: "//cdn.datatables.net/plug-ins/1.13.6/i18n/pt-BR.json"
            },
            ordering: true,     // permite ordenação manual por clique
            order: []           // desativa ordenação automática inicial
        });
    });


    function enableForm(cmmform) {
      $('#cmmform').find('input, textarea, select, button').prop('disabled', false);
      $('#resetBtn').prop('disabled', false);
      $('#submitBtn').prop('disabled', false);
    }

    $('#enableFormBtn').on('click', function() {
      enableForm('#cmmform');
    });

    $('#descrptionId').on('input', function () {
        let count = $(this).val().length;
        $('#contador').text(count + "/50");
    });

    $('#NewManualMovementAmount').on('input', function () {
        let val = $(this).val();
        if (val.includes('.')) {
            let parts = val.split('.');
            if (parts[1].length > 2) {
                $(this).val(parts[0] + '.' + parts[1].substring(0, 2));
            }
        }
    });

    $('#NewManualMovementAmount').on('blur', function () {
        let val = parseFloat($(this).val().replace(',', '.'));
        if (!isNaN(val)) {
            $(this).val(val.toFixed(2).replace('.', ','));
        }
    });

    //validacao form

      $('#cmmform').on('submit', function (e) {
      let valid = true;
      let message = "";
      let month = $('input[name="NewManualMovement.Month"]').val();
      let year = $('input[name="NewManualMovement.Year"]').val();
      let amount = $('input[name="NewManualMovement.Amount"]').val();
      let description = $('textarea').val() || "";


      if (!month || month < 1 || month > 12) {
        message = "Mês inválido.\n";
        valid = false;
      }

      if (!year || year < 1900 || year > 2200) {
        message = message + "Ano inválido.\n";
        valid = false;
      }

      if (!amount || amount < 0.01) {
        message = message + "Valor inválido.\n";
        valid = false;
      }
      console.log("Descrição:", descricao);

      if (!description || description.trim().length === 0 ) {
        message = message + "Descrição obrigatória.\n";
        valid = false;
      }

      if(!valid){
          alert(message);
          e.preventDefault(); // Impede envio se inválido
      }

    });

</script>

